.row-fluid{ :id => "resend-confirmation-form-container" }
  .span6
    = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), 
      :html => { :autocomplete => :off, :class => "form-horizontal" }) do |f|
      %fieldset
        %legend Resend confirmation instructions
        
        = f.input :email, :required => true, :placeholder => "john.smith@example.com", :autofocus => true
      
      .form-actions
        .row= f.button :submit, "Resend confirmation instructions", :class => "btn btn-primary"
  = render "links"
